.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: white !important;
  height: 150px !important;
  padding: 20px !important;
  color: white !important;
  position :relative !important;
}

.App .header {
    height: 50px !important;
    visibility: visible !important;
    padding: 0px 0 5px !important;
    border-radius: 0px !important;
    /*animation: App-header-move 1s infinite;
    -webkit-animation: App-header-move 1s infinite;*/
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Standard syntax */
@keyframes App-header-move {
  50%  {height: 150px;}
}

.App .boxShadow {
    border-width: 1px !important;
    border-radius: 1px !important;
    border-bottom-width: 0 !important;
    box-shadow: #2864e7 !important;
    -moz-box-shadow: 0px 0px 1px 1px grey !important;
    -webkit-box-shadow: 0px 0px 1px 1px grey !important;
    border-radius: 8px !important;
    padding: 4px 5px !important;
    background: #A6ACAF !important;
    margin-left: 5px;
    margin-bottom: 10px !important;
    cursor: pointer !important;
    width: fit-content !important;
    width: fit-content !important;
    display: -webkit-inline-box !important;
    font-size: smaller !important;
}

.App .mainButtonDiv {
    margin: auto !important;
    color: white !important;
}

.App a:-webkit-any-link {
    color: greenyellow !important;
    font-weight: bold !important;
    font-size: 15px;
}
.App a:hover {
    color: blueviolet !important;
    background-color: transparent !important;
    text-decoration: underline !important;
}
.App .conversation-container {
    border: 1px black !important;
    border-radius: 0px !important;
    margin-right: 19% !important;
    margin-bottom: -15% !important;
}
.App .welcome {
    background: #002730;
    border: 1px solid rgba(59,220,237,.5) !important;
    color: white !important;
    padding: 5px !important;
    text-align: left !important;
    word-break: break-all !important;
}
.App .messages-container {
    background-image: url("https://image.freepik.com/vector-gratis/fondo-degradado-purpura-abstracto_1164-1753.jpg");
}

.App .client {
    background-color:  #f4f7f9 !important;
    color: #1316b9 !important;
}

.App .ratingsubdiv {
    display: inline-table;
}
.message > .response {
   
    color: #1316b9 !important;
    word-wrap: break-word !important;
   
}

.conversation-container > .header {
    background-color: white !important;
    color: black !important;
}
.widget-container {
    max-width: 400px !important;
}
.rating {
    background-color: #002730;
    padding: 15px !important;
    color: white !important;
    border: 2px solid rgba(59,220,237,.5) !important;
}

.snippet {
    background-color: #002730;
    color: white !important;
    border-radius: 0px !important;
    border: 2px solid rgba(59,220,237,.5) !important;
    font-size: 15px !important;
}

.snippet-details {
    word-wrap: break-word !important;
    border-left: none !important;
    padding-left: 0px !important;
    font-weight: bold !important;
}

.App .launcher {
    z-index: -1 !important;
    background-color: #145380;
}

.App .sender {
    border-radius: 0px !important;
}
.send .send-icon {
    content:url("./images/send1.png");
    height: 25px;
  width: 25px; }
  .client .message-text{
      position: relative;
  } 
   .client .message-text ::after{
   position: absolute;
    content: url("./images/updatedavatar.png");
 
     }
     .conversation-container > .header {
        background-color: #145380 !important;
        color: white !important;
    }
    /* .response .message-text ::before{
        position: absolute;
         content: url("./images/bot.png");
      left: 0px;
      top:auto;
      margin-top:inherit;
      margin-left: -42px;
          } */
          .avatar {

      margin-right: 0px;
            margin-left: -16px;
        }
        .message {
            margin: 10px;
            display: flex;
            margin-left: 18px;
        }
